@import url('https://api.fontshare.com/v2/css?f[]=clash-grotesk@200,300,400,500,600,700&display=swap');
@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "lenis/dist/lenis.css";

@theme inline {
  --color-bg: rgb(255, 255, 255);
  --color-black: #000000;
  --color-gray: #818181;
  --color-border: #E0E0E0;
  --color-card-dark: #A9A9A9;
  --color-card-light: #FFFFFF;
  --font-clash: 'Clash Grotesk', sans-serif;
  --font-sans: 'Clash Grotesk', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none !important;
}

input,
textarea,
select {
  cursor: text !important;
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}


body {
  background: rgb(255, 255, 255);
  color: #000000;
  font-family: 'Clash Grotesk', sans-serif;
  overflow-x: hidden;
}