{
  "servers": {
    "Framelink_Figma_MCP": {
      "type": "stdio",
      "command": "npx",
      "args": [
        "-y",
        "figma-developer-mcp",
        "--figma-api-key=${input:figmaApiKey}",
        "--stdio",
        "--image-dir",
        ".figma"
      ]
    }
  },
  "inputs": [
    {
      "type": "promptString",
      "id": "figmaApiKey",
      "description": "Figma API key",
      "password": true
    }
  ]
}